<div class="github">
  <div class="github-header">
    <img src="/svg/github.svg" class="github-logo" alt="Github Logo">
    <div class="text-div">
        <p class="bs"><strong style="color: #6766E9; margin-right: 3.5px;">Github</strong> Repositories</p>
        <p class="ac">I have developed many Projects, you can find them all here.</p>
    </div>
  </div>
  
  <div class="github-list" id="github-list">
    <%- include('../components/repos.ejs') %>
  </div>
  <%- include('../components/pagination.ejs') %>
</div>