<main>
  <p class="text-1">Hello <img src="/img/hello.png" class="hello" alt="Hello"> this is the</p>
  <p class="text-2">world of <strong>Eren</strong>.</p>
  <p class="text-info">I'm a Front-End developer, my name is Eren. I live in Turkey and I am dealing with all kinds of projects.</p>
</main>