<div class="npm">
    <div class="npm-header">
      <img src="/svg/npm.svg" class="npm-logo" alt="NPM Logo">
     
      <div class="text-div">
          <p class="bs"><strong style="color:#EF7272; margin-right: 3.5px;">NPM</strong> Packages</p>
          <p class="ac">I have developed many packages, you can find them all here.</p>
      </div>
    </div>
    <div class="npm-list" id="npm-list">
      <%- include('../components/packages.ejs') %>
    </div>
  </div>