<div class="pagination">
  <button id="prevBtn"><i class="fa-regular fa-angle-left"></i></button>
  <span class="page-info" id="pageInfo">1 / 1</span>
  <button id="nextBtn"><i class="fa-regular fa-angle-right"></i></button>
</div>