<main>
    <div class="main-header">
        <h1>My Projects</h1>
        <p>On this page, you can see the projects that I have developed, which are actively ongoing or suspended.</p>
    </div>
    <div class="main-list">
        <%- include('../components/projects-card.ejs') %>
    </div>
</main>