<div class="p-card">
    <img src="/img/gitpv.png" alt="Projects Logo">
    <div class="p-main">
        <p class="p-name">Gitpv</p>
        <p class="p-ac">Github Profili Görüntüleyicisi / Takip / Takipçi / Repo / Gists / Ve Daha Fazlası</p>
    </div>
    <div class="p-bottom">
        <i class="fa-regular fa-link-simple"></i> https://gitpv.xyz
    </div>
</div>
<div class="p-card">
    <img src="/img/codenest.png" alt="Projects Logo">
    <div class="p-main">
        <p class="p-name">Code Nest</p>
        <p class="p-ac">Dünya genelindeki yazılımcıların projelerini paylaşabileceği, yeni fikirler keşfedebileceği ve
            diğer yazılımcılarla etkileşim kurabileceği bir platform.</p>
    </div>
    <div class="p-bottom">
        <i class="fa-regular fa-link-simple"></i> https://codenest.app/
    </div>
</div>
<div class="p-card">
    <img src="/img/api.webp" alt="Projects Logo">
    <div class="p-main">
        <p class="p-name">NestAPI</p>
        <p class="p-ac">NestAPI, kullanıcıların hazır ve ücretsiz API’leri keşfedip kullanabileceği bir platformdur.
            Geliştiriciler, projeleri için hızlıca entegre edilebilecek kaynaklar bulabilirler.

        </p>
    </div>
    <div class="p-bottom">
        <i class="fa-regular fa-link-simple"></i> https://nestapi-web.vercel.app/
    </div>
</div>