<div class="technologies">
    <div class="technologies-header">
        <img src="/svg/technologies.svg" class="technologies-logo"
            alt="NPM Logo">

        <div class="text-div">
            <p class="bs"><strong
                    style="color:#449DD1; margin-right: 3.5px;">Technologies</strong>
                I Use</p>
            <p class="ac">I have developed many packages, you can find them all
                here.</p>
        </div>
    </div>
    <div class="technologies-list" id="npm-list">
        <%- include('../components/tecno.ejs') %>
    </div>
</div>