<div class="t-card">
    <img src="/svg/html.svg" alt="HTML">
    <p>HTML</p>
</div>
<div class="t-card">
    <img src="/svg/css.svg" alt="CSS">
    <p>CSS</p>
</div>
<div class="t-card">
    <img src="/svg/javascript.svg" alt="JS">
    <p>Javascript</p>
</div>
<div class="t-card">
    <img src="/svg/bootstrap.svg" alt="Bootstrap">
    <p>Bootstrap</p>
</div>
<div class="t-card">
    <img src="/svg/nodejs.svg" alt="NodeJS">
    <p>NodeJS</p>
</div>
<div class="t-card">
    <img src="/svg/react.svg" alt="React">
    <p>React</p>
</div>
<div class="t-card">
    <img src="/svg/express.svg" alt="Express">
    <p>Express</p>
</div>
<div class="t-card">
    <img src="/svg/mongoDB.svg" alt="MongoDB">
    <p>MongoDB</p>
</div>
<div class="t-card">
    <img src="/svg/vercel.svg" alt="Vercel">
    <p>Vercel</p>
</div>
<div class="t-card">
    <img src="/svg/tailwindcss.svg" alt="TailwindCSS">
    <p>TailwindCSS</p>
</div>
<div class="t-card">
    <img src="/svg/font-awesome.svg" alt="Font Awesome">
    <p>Font Awesome</p>
</div>
<div class="t-card">
    <img src="/svg/react-icons.svg" alt="React Icons">
    <p>React Icons</p>
</div>
<div class="t-card">
    <img src="/svg/github-t.svg" alt="Github">
    <p>Github</p>
</div>
<div class="t-card">
    <img src="/svg/git.svg" alt="HTML">
    <p>Git</p>
</div>