<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="icon" type="image/x-icon" href="/img/logo.gif">
    <title>Eren - Projects</title>
</head>
<body>
    <%- include('../include/navbar.ejs') %>
    <%- include('../components/projects.ejs') %>
    <%- include('../include/footer.ejs') %>
</body>
</html>
